:root {
  --background-color-var: #d3d0c4;
  --green-main: #2f9a5a;
  --green-light: #6abb8b;
  --radius-main: 20px;
  --separation-line: #eceae0;
  --speed: 0.2s;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;500;600&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background-color-var);
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #fff;
  /* height: 100%; */
  /* width: fit-content; */
}
a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

.container {
  /* background-color: red; */
  width: 1100px;
  overflow: auto;
  padding: 0 40px;
  margin: auto;
}

.formatter {
  display: flex;
  flex-direction: column;
}

.text-base {
  font-weight: 300;
  font-size: 1.4rem;
}

.text-bold {
  font-weight: 600;
  font-size: 1.4rem;
}

@media screen and (max-width: 1100px) {
  html,
  body {
    /* width: fit-content; */
  }
}
